<section class="card">
        <h3>Wpłaty / Darowizny</h3>
        <p>
          Wpłać przelewem 20 PLN
          <img class="icon" src="/assets/img/QR-20PLN.png" alt="" />
        </p>
        <p>
          Wpłać przelewem 50 PLN
          <img class="icon" src="/assets/img/QR-50PLN.png" alt="" />
        </p>
        <p>
          Wpłać przelewem 100 PLN
          <img class="icon" src="/assets/img/QR-100PLN.png" alt="" />
        </p>
        <p>
          <img class="icon" src="/assets/img/icon-monety.png" alt="" />
          Nr konta: 42 1090 1030 0000 0001 1546 1359
        </p>
        <p>
          <img class="icon" src="/assets/img/icon-krs.png" alt="" />
          Przekaż 1,5% podatku - KRS: 0000332316
        </p>
        <p>
          <a href="#wplaty"  data-page="wplaty" class="navlink">Wszystkie formy płatności</a>
        </p>
</section>
